html{
  height:100vh;
  width:100vw;
}
body{
	background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	font-family: 'PT Serif';

}


nav{
  background-color: #FFF!important;;
}
nav ul a{
  color: #000!important;
}
nav a{
    color: #000!important;
}

header{
  background: url("../images/headerblueFixedges.png") fixed; 
    opacity: 0.9;
  height: 360px;
}
strong{
  font-weight: 600!important;
}

.Wrapper{
	margin-top: 2vh;
}

footer{
  opacity: 0.8;
  position: fixed;
  margin-top: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  text-align: center;
  z-index: -99;
}

/*----------------------
  Daily achievement
  ---------------------*/

  .DailyAchievementIcon{
    width: 40px;
  }
  .dailyPanel{
  padding: 15px!important;
  }

.dailyPanel:hover{
	background-color: #dcdcdc!important;

}
/*-----------------------
        RESULTS
------------------------*/
.card{
  font-family: 'Open Sans', sans-serif!important;
}
.card-content{
  overflow: auto;
}

.waypointBlockQuote{
  margin: 0px!important;
  border-left: 3px solid #039be5;
}
.waypointIconPlacement{
  margin-top: 6px;
  padding-right:0px!important;
}
.resultContainer{
  padding: 0px!important;
}
.clickToCopyText{
  color: #9e9e9e; 
  font-size: 0.8em
}

.cardGatheringItemIcon {
	width: 22px;
}
/*------------------------
	Margins & paddings
------------------------*/

.margin-top-25px{
	margin-top:25px;
}

.margin-left-5px{
  margin-left:5px;
}

.margin-right-20px{
	margin-right:20px!important;
}

.padding-top-20px{
  padding-top: 20px;
}

/* ------------------
    COLOURS AND TEXT 
--------------------*/

.greytext{
	color: #9e9e9e;
}

.greySelectedBackground{
	background-color:#dcdcdc!important;
}

.advancedSearchLink{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

.presentsText{
  margin-top:0px;
}

.ARLink,  a:active, a:hover{
	color: black;
}

.DailyGathererText{
  font-family: 'GW2TWO';
}

.select-wrapper input.select-dropdown{
		font-size: 1.8rem!important;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #039be5!important;
}

.selectFontSize {
	font-size: 1.8rem!important;
}

.ARLink{
  color:#FFF;
  text-decoration: underline;
}


.Logoimg{
  width:auto;
  height: 18px;
  margin-left:20px;
}


@font-face {
    font-family: 'GW2TWO';
    src: url(../fonts/GWTwoFont.ttf);
}

@media screen and (max-width: 520px){
  .DailyGathererText{
    font-size: 2.5rem;
  }

  header{
  	height: 250px;
  }

}